<div class="landingPage">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center  align-items-center text-center h-100">
        <h3 class="display text-success">
        <i class="fa fa-shopping-cart"></i>BigBasket</h3>
<p class="lead text-success">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque adipisci modi est asperiores aliquam a voluptates beatae sequi voluptatum id omnis obcaecati, inventore sit soluta, similique ratione eligendi nesciunt ea!</p>
</div>

</div>


</div>
